.hamburger {
  cursor: pointer;
  rect {
    transition:
      y 300ms ease-in 300ms,
      rotate 300ms ease-in,
      opacity 0ms 300ms;

    transform-origin: center;
  }
}

.hamburger.open {
  rect {
    transform-origin: center;

    transition:
      y 300ms ease-in,
      rotate 300ms ease-in 300ms,
      opacity 0ms 300ms;
  }

  rect:first-child,
  rect:last-child {
    y: 15;
  }
  rect:first-child {
    rotate: 45deg;
  }

  rect:last-child {
    rotate: -45deg;
  }

  rect:nth-child(2) {
    opacity: 0;
  }
}
