.hamburger {
  cursor: pointer;
  rect {
    transform-box: fill-box;
    transition:
      transform 300ms ease-in,
      opacity 300ms ease-in;
    transform-origin: center;
  }
}

.hamburger.open {
  rect:first-child {
    transform: translateY(6px) rotate(45deg);
  }
  rect:last-child {
    transform: translateY(-6px) rotate(-45deg);
  }

  rect:nth-child(2) {
    opacity: 0;
  }
}
