@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */
@custom-variant dark (&:where(.dark, .dark *));

@plugin "tailwindcss-motion";

:root {
  --background: oklch(0.9498 0.0074 312.3);
  --foreground: oklch(0.3715 0 0);
  --primary: oklch(0.6603 0.0706 299.09);

  --color-purple-100: oklch(17.105% 0.06252 291.464);
  --color-purple-200: oklch(0.8537 0.0438 300.18);
  --color-purple-210: oklch(0.8042 0.0581 323.3);
  --color-purple-220: oklch(0.7175 0.0852 323);
  --color-purple-230: oklch(0.6964 0.0867 311.43);
  --color-purple-250: oklch(0.6603 0.0706 299.09);
  --color-purple-300: oklch(0.5666 0.0929 297.94);
  --color-purple-400: oklch(0.548 0.0678 309.75);
  --color-purple-500: oklch(0.5443 0.0953 298.27);
  --color-purple-600: oklch(0.3894 0.0242 301.55);
  --color-purple-650: oklch(0.3754 0.042 310.05);
  --color-purple-700: oklch(0.3199 0.0163 300.67);
  --color-gray-50: oklch(0.9672 0 0);
  --color-gray-100: oklch(0.9082 0.0149 312.24);
  /* --logo-color: #7763a0; */
  --accent: oklch(0.4373 0.0361 36.2);
  --color-red-700: oklch(0.4825 0.0377 34.97);
  --color-red-800: oklch(0.4892 0.046 34.05);
  --color-red-900: oklch(0.3916 0.0293 34.41);

  --color-neutral-100: oklch(0.9329 0.0124 301.28);
  --color-neutral-200: oklch(0.9133 0.0096 299.23);
  --color-neutral-600: oklch(0.4071 0.0237 298.41);

  --color-gray-600: oklch(0.3715 0 0);
  --color-gray-800: oklch(0.252 0 0);

  --header-h: 4.75rem;
  --radius: 0.625rem;
}

.light {
  --link: var(--color-purple-250);
  --hero-bg: var(--color-purple-250);
  --heading-color: var(--color-red-700);
  --subheading-color: var(--color-red-700);
  --body-color: var(--color-gray-600);
  --footer-color: var(--color-gray-100);
  --blog-thumbnail: var(--color-neutral-100);
  --blog-thumbnail-title: var(--color-red-800);
  --blog-toc: var(--color-red-900);
  --footer-icon: var(--color-red-900);
  --footer-title: var(--color-purple-500);
  --mobile-nav: var(--primary);
  --mobile-nav-link: var(--background);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: #c44545;
  --border: oklch(0.922 0 0);
  --input: var(--color-red-800);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--primary);
  --color-accent: var(--accent);
  --color-link: var(--link);
  --color-hero-text: var(--color-gray-50);
  --color-body: var(--body-color);
  --color-heading: var(--heading-color);
  --color-subheading: var(--subheading-color);
  --color-hero-bg: var(--hero-bg);
  --color-nav-link: var(--color-gray-50);
  --color-footer: var(--footer-color);
  --color-blog-thumbnail: var(--blog-thumbnail);
  --color-blog-thumbnail-title: var(--blog-thumbnail-title);
  --color-footer-icon: var(--footer-icon);
  --color-footer-title: var(--footer-title);
  --color-blog-toc: var(--blog-toc);
  --color-mobile-nav: var(--mobile-nav);
  --color-mobile-nav-link: var(--mobile-nav-link);

  --font-sans: var(--sans-font);
  --font-body: var(--body-font);
  --font-serif: var(--serif-font);
  --font-mono: var(--mono-font);

  --input-bg: var(--color-gray-100);
  /* added by shadcn */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #f0edf2;
    --foreground: #404040;
    --muted: #a1a1aa;
    --accent: #38bdf8;
    --hover: #0ea5e9;
    --border: #3b3a38;
    --primary: #38bdf8;
  }
} */

.dark {
  --background: oklch(0.3687 0.021 300.58);
  --foreground: oklch(0.985 0 0);

  --link: var(--color-purple-220);
  --hero-bg: oklch(0.3687 0.021 300.58);
  --heading-color: var(--color-purple-220);
  --subheading-color: oklch(0.985 0 0);
  --body-color: oklch(0.985 0 0);
  --footer-color: var(--color-purple-700);
  --blog-thumbnail: var(--color-purple-600);
  --blog-thumbnail-title: oklch(0.985 0 0);
  --footer-icon: var(--color-neutral-200);
  --footer-title: var(--color-purple-230);
  --blog-toc: var(--color-neutral-200);
  --mobile-nav: oklch(0.3687 0.021 300.58);
  --color-mobile-nav-link: var(--foreground);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
